body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.mdl-data-table {
  width: 100%;
  margin: 0 auto;
}

.page-content {
  padding: 20px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.mdl-data-table {
  white-space: nowrap;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
}

.mdl-data-table th, .mdl-data-table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdl-data-table th {
  min-width: 100px;
}

.mdl-data-table td {
  min-width: 100px;
  max-width: 300px;
}

.mdl-data-table__cell--non-numeric:last-child {
  max-width: 100%;
}
